<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:include=":: #title">Madspild</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body>
    <header th:fragment="commonHeader">
        <h1>Velkommen til madspild!</h1>
        <nav class="top-navigation">
            <a class="frontpage" href="/">Forside</a>
            <a class="recipes" href="/recipes">Opskrifter</a>
            <a class="facts" href="/facts">Fakta</a>
            <a class="contact" href="/contact">Kontakt</a>
        </nav>
    </header>
</body>
</html>