
html {
  background-color: #2d3e60;
}

.center {
	text-align: center;
}
/* make images responsive */
img {
  max-width: 100%;
  height: auto;
}

 photo-to-the-left {
   float: left;
   width: 30%;
   height: 300px;
   background: #ccc;
   padding: 20px;
   box-sizing: border-box;

}

.photo-description {
  font-size: 13px;
  color: #333;
  margin: 0;
}

.main-wrapper {
  flex-flow: column;
  margin: 0 20px;
}

.top-navigation {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: #bbb;
  border-radius: 10px 10px 0 0;
}

.top-navigation a {
  color: blue;
  text-align: center;
  padding: 13px 25px;
  text-decoration: none;
  transition: background-color 1s ease;
}

.top-navigation a:hover {
  background-color: #ddd;
  text-decoration: underline;
}
/* underline and bold for menu item for displayed page*/
#frontpage .top-navigation .frontpage,
#recipes .top-navigation .recipes,
#facts .top-navigation .facts,
#contact .top-navigation .contact {
  text-decoration: underline;
  font-weight: bold;
}
.rec {
  background-color: #ddd;
}
 ingredients {
  float: left;
  padding: 20px;
  width: 30%;
  background-color: #f1f1f1;
  height: 300px;
   box-sizing: border-box;
}
 tilberedning {
   float: left;
   padding: 20px;
   width: 40%;
   background-color: #ffffff;
   height: 300px;
   box-sizing: border-box;

 }

.content {
  padding: 54px;
  background-color: #ddd;
  text-align: center;
}

footer {
  padding: 10px;
  background-color: #aaa;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
ui {
  list-style-position: inside;
  text-align: center;
}

#contact-pic{
  display: inline-block;
  width: 300px;
  height: auto;
}
.social-medie{
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  list-style: none;
  letter-spacing: 2px;
  display: table;
  transition: background-color 1s ease;
}
.social-medie:hover{
  background-color: #bbb;
}
.social-medie:not(:last-child){
  margin-bottom: 15px;
}
.social-medie:before{
  content: "\1F30D";
}

@keyframes move-title {
  0%  { left: 0; }
  10%  { left: -15%; }
  50%  { left: 25%; }
  75%  { left: -15%; }
  100% { left: 0%; }
}

header h1 {
  color: #c8bdbd;
  text-shadow: 2px 2px 5px #000; /* offset-x | offset-y | blur-radius | color */
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}
/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
header h1:hover {
  animation: move-title 2s linear;
}

@keyframes shake {
  0%   { left: 0px; }
  25%  { left: 50px; }
  50%  { left: -50px; }
  75%  { left: 50px; }
  100% { left: 0px; }
}
.shake-on-hover:hover {
  position: relative;
  animation: shake 0.5s cubic-bezier(.4,.1,.6,.9);
}