<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
    <title id="title">Facts</title>
</head>
<body id="facts">
<div class="main-wrapper">
    <header th:replace="fragments/header :: commonHeader"></header>
    <div class="content">
        <div class="box box-1">I Danmark smider vi hvert år mere end 700.000 ton mad ud. Husholdningernes madspild udgør 260.000 ton. Det svarer til 24 % af affaldet i skraldespanden.</div>
        <div class="box box-2">En hustand i et parcelhus smider i gennemsnit 105 kilo mad ud om året. En gennemsnitlig dansk familie smider mad ud for over 3.000 kroner om året.</div>
        <div class="box box-3">Køkkener på institutioner, restauranter og kantiner skaber hvert år næsten 60.000 ton madspild.</div>
        <div class="box box-4">Madspild påvirker også miljøet.</div>
    </div>
</div>

</div>
    <footer th:replace="fragments/footer :: commonFooter"></footer>
</div>
</body>
</html>