<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
    <title id="title">Forside</title>
</head>
<body id="frontpage">
<div class="main-wrapper">
    <header th:replace="fragments/header :: commonHeader"></header>
    <div class="content">
        <h2>Velkommen til vores side om madspil.</h2>
        <img class="shake-on-hover" src="/images/waste-of-pizza.jpg" alt="pizza slices smides i skraldespanden" />
        <p class="photo-description">Det rene madspild. Foto: colourbox.com</p>
        <p>Velkommen til vores side om madspil. Her finder du en masse fakta om emnet, opskrifter som hjælper med at reducere dit madspild og vores kontakt hvis du har spørgsmål! </p>
    </div>
    <footer th:replace="fragments/footer :: commonFooter"></footer>
</div>
</body>
</html>