<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madspild</title>
    <link rel="stylesheet" href="main.css">
</head>
<body id="frontpage">
<div class="main-wrapper">
<header>
    <h1>Velkommen!</h1>
    <div class="top-nav-bar">
        <a href="#">Forside</a>
        <a href="#">Opskrifter</a>
        <a href="#">Kontakt</a>
        <a href="#">Menupunkt4</a>
        <a href="#">Menupunkt4</a>
    </div>
</header>

<div class="content">Content HERE</div>

<footer>
    <p>Footer here (Copyright blA BLA BLA 2021)</p>
</footer>
</div>
</body>
</html>