<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
    <title id="title">Opskrifter</title>
</head>
<body id="recipes">
<div class="main-wrapper">
    <header th:replace="fragments/header :: commonHeader"></header>
    <div class="content">
        <p>Her finder du opskrifter der kan reducere madspild!</p>
    </div>
        <photo-to-the-left>
            <img src="/images/Parechutney.jpg" alt="opskrift1" width="100%" height=auto>
        </photo-to-the-left>
        <ingredients>
            <h3>Pærechutney</h3>
            <ul>
            <li>3 sttk. Pærer</li>
            <li>1 stk. Løg</li>
            <li>1 clove Hvidløg</li>
            <li>1 deciliter Rosiner</li>
            <li>1 deciliter Sukker</li>
            <li>1 tsk. Frisk ingefær</li>
            <li>2 Citronskal</li>
            <li>1 deciliter</li>
            <li>Salt</li>
            <li>Hvid peber</li>
            </ul>
        </ingredients>
        <tilberedning>
            <p>Skær pærerne i små stykker inklusiv kernehus og hak løg og hvidløg.
                Bland alle ingredienser i en gryde og kog chutneyen i cirka 15 minutter.
                Smag til og hæld den på et rent glas.
                Opbevares køligt.</p>
        </tilberedning>
    <photo-to-the-left>
        <img src="/images/Chipsafkartoffelskral.jpg" alt="opskrift2" width="100%" height="100%">
    </photo-to-the-left>
    <ingredients>
        <h3>Chips af kartoffelskræl</h3>
        <ul>
        <li>Kartoffelskræller</li>
        <li>Olie</li>
        <li>Salt</li>
        </ul>
    </ingredients>
    <tilberedning>
        <p>Vask og skrub kartoflerne grundigt rene.
            Skræl kartoflerne, jeg bruger typisk en y-kartoffelskræller til det.
            De skrællede kartofler kan du bruge til f.eks. kartoffelmos, flødekartofler, brunede kartofler, kartoffel-porre suppe, pommes anna, hasselback kartofler, confiterede kartofler, ovnstegte kartofler, kartoffelsalat, kartoffelmad, pommes frites eller almindelige kogte kartofler.
            Skrællerne kommes i en skål med vand og udvandes i cirka 15 minutter.
            Hæld vandet fra og læg dem i et viskestykke (eller brug køkkenrulle) og tør dem godt.
            Varm din frituregryde (eller brug en almindelig gryde) op med smagsneutral olie, til den er 185 grader varm.
            Friter kartoffelskrællerne i olien, til de er gyldne og sprøde. Det kan sagtens tage op til 10 minutter.
            Pas på med at komme for mange i ad gangen, da det sænker oliens temperatur for meget.
            Når chipsene er gyldne, tages de op af gryden og lægges på fedtsugende papir - f.eks. køkkenrulle eller et viskestykke.
            Dup chipsene tørre på oversiden og drys dem med salt.</p>
    </tilberedning>
    <photo-to-the-left>
        <img src="/images/Skaldyrsmayonnaise.jpg" alt="opskrift3" width="94%" height="100%">
    </photo-to-the-left>
    <ingredients>
        <h3>Skaldyrsmayonnaise</h3>
        <ul>
        <li>120 gram Tiger rejer</li>
        <li>1 deciliter Olie</li>
        <li>1 spsk. Cognac</li>
        <li>1 tsk. Eddike</li>
        <li>0,5 tsk Sennep</li>
        <li>1 stk. Æggeblommer</li>
        <li>Krydderier</li>
        </ul>
    </ingredients>
    <tilberedning>
        <p>Når det kommer til mayonnaise, så er det lidt en smags-/religionssag om man benytter sig af et blødt eller hårdt piskeris, stavblender eller røremaskine. Det er underordnet hvad du bruger, bare der bliver pisket hårdt, så skal det nok lykkedes.
            Det tager grundlæggende kun 5 minutter at røre en mayonnaise, men det er vigtigt at have styr på dine temperaturer: Sørg for at alle ingredienser kommer ud af køleskabet i god tid (gerne én time før), så de har stuetemperatur når det skal piskes.
            Start med at piske blommerne sammen med sennep'en, salten og eddiken.
            Når de har fået en æggesnaps-agtig konsistens, skal der tilføjes en smule olie ad gangen indtil den har fået den rette tykkelse. Smag evt. til med salt, peber og citronsaft.</p>
    </tilberedning>
    <footer th:replace="fragments/footer :: commonFooter"></footer>
</div>
</body>
</html>